<div class="row">
	<div class="span8 offset1">
		<h1>Employees</h1>
		<%= link_to "Add Employee",  new_employee_path, {:class => 'btn btn-primary'} %>
		<table class="table">
			<thead>
				<tr>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @employee.each do |employee| %>
				<tr>
					<td><%= link_to employee.last_name, employee %></td>
					<td><%= link_to employee.first_name, employee %></td>
					<td><%=link_to "Edit", edit_employee_path(employee)%> <%=link_to "Delete",employee_path(employee), {:confirm => 'Are you sure?', :method => :delete} %></td>
				</tr>
				<% end %>	
			</tbody>
		</table>
	</div>
</div>