<div class="field">
	<div class ="styled-select">
		<%= f.attribute_fields do |a| %>
			<%= a.attribute_select associations: [:client] %>
		<% end %>
		<%= f.predicate_select({only: [:eq]})%>
		<%= f.value_fields do |v| %>
			<%= v.text_field :value %>
		<% end %>
	</div>
</div>