<table>
	<th>ID</th>
	<th><%=t :item_name %></th>
	<th><%=t :pieces %></th>
	<th><%=t :item_bp %></th>
	<tbody>
		<% job.items.each do |item| %>
		<tr>
			<td><%=item.identification %></td> 
			<td><%=item.name %></td>
			<td><%=item.pieces %></td>
			<td><%=item.blue_print_number %></td>
		</tr>
		<% end %>
	</tbody>
</table>