	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>

		<table class="table">
			<thead>
				<tr>
					<th><%= sortable "name", t(:job_name)%></th>
					<th><%= sortable "client", t(:client) %></th>
					<th><%= sortable "billing", t(:job_billing) %></th>
					<th><%= sortable "in_date", t(:job_intake) %></th>
					<th><%= sortable "target", t(:job_target) %></th>
					<th><%= sortable "actual",t(:job_complete) %></th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				<% @job.each do |job| %>
				<tr>
					<td><%= link_to job.name, job %></td>
					<td><% if job.client %>
							<%= link_to job.client.name, job.client %>
						<% end %>
						</td>
					<td><%= job.billing %></td>
					<td><%= job.in_date %></td>
					<td><%= job.target %></td>
					<td><% if job.actual? %>
							<%=job.actual %>
						<% else %>
							<%= form_for(job) do |t| %>
								<%= t.hidden_field :actual, :value => Date.today %>
								<%= t.submit t(:complete) %>
							<% end %>
						<% end %>
					</td>
					<td><div class="hide_items">Hide</div></td>
				</tr>
				<tr class="hidden">
					<td></td>
					<td colspan="6">
						<div class="items"><%= render 'items', :job => job %></div>
					</td>
				</tr>
				<% end %>	
			</tbody>
		</table>