	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>

		<table class="table">
			<thead>
				<tr>
					<th><%= sort_link(@search, :name, t(:job_name))%></th>
					<th> <%=t :client %> </th>
					<th><%= sort_link(@search, :contact, t(:contact))%>
					<th><%=t :job_billing %></th>
					<th><%= sort_link(@search, :in_date, t(:job_intake))%>
					<th><%= sort_link(@search, :target, t(:job_target))%>
					<th><%= sort_link(@search, :actual, t(:job_complete))%>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				<% @job.each do |job| %>
				<% if job.target < Date.today %>
					<tr class="error">
				<% elsif job.priority == 2%>
					<tr class="warning">
				<% else %>
					<tr>
				<% end %>
					<td><%= link_to job.name, job %></td>
					<td><% if job.client %>
							<%= link_to job.client.name, job.client %>
						<% end %>
						</td>
					<td><%=job.contact%></td>
					<td><%= link_to job.billing, job %></td>
					<td><%= job.in_date %></td>
					<td><%= job.target %></td>
					<td><% if job.actual? %>
							<%=job.actual %>
						<% else %>
							<%= form_for(job) do |t| %>
								<%= t.hidden_field :actual, :value => Date.today %>
								<%= t.submit t(:complete) %>
							<% end %>
						<% end %>
					</td>
					<td><div class="hide_items">Hide</div></td>
				</tr>
				<tr class="hidden">
					<td></td>
					<td colspan="6">
						<div class="items"><%= render 'items', :job => job %></div>
					</td>
				</tr>
				<% end %>	
			</tbody>
		</table>