	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>

		<table class="table">
			<thead>
				<tr>
					<th><%= sortable "name", "Name"%></th>
					<th><%= sortable "client", "Client" %></th>
					<th><%= sortable "billing", "Billing" %></th>
					<th><%= sortable "in_date", "In Date" %></th>
					<th><%= sortable "target", "target" %></th>
					<th><%= sortable "actual","Completion" %></th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				<% @job.each do |job| %>
				<tr>
					<td><%= link_to job.name, job %></td>
					<td><%= job.client %></td>
					<td><%= job.billing %></td>
					<td><%= job.in_date %></td>
					<td><%= job.target %></td>
					<td><% if job.actual? %>
							<%=job.actual %>
						<% else %>
							<%= form_for(job) do |t| %>
								<%= t.hidden_field :actual, :value => Date.today %>
								<%= t.submit "Complete Job" %>
							<% end %>
						<% end %>
					</td>
					<td></td>
				</tr>
				<% end %>
			</tbody>
		</table>