<body>
	<div class="row">
	<div class="span8 offset1">
		<h1><%=t :jobs %></h1>
		<%= search_form_for @search do |f| %>
			<%= f.condition_fields do |c| %>
				<%= render "condition_fields", f: c%>
			<% end %>
			<div class="actions"><%= f.submit t(:search), :class => "btn" %></div>
		<% end %>

		<%= link_to t(:add_job),  new_job_path, {:class => 'btn btn-primary'} %>

		<div id="jobs"><%= render 'jobs' %></div>

		<%= will_paginate @job %>
	</div>
	</div>
</body>
