<body>
<div class="row">
		<div class="span7 offset4">
			<legend><%=t :add_job %></legend>
		</div>
	</div>

	<div class="row">
		<div class="span6 offset3">
			<%= nested_form_for(@job, :html=> {:class => 'form-horizontal'}) do |f| %>

			<div class="control-group">
				<label class="control-label">
					<%=t :job_name %>
				</label>
				<div class="controls">
					<%= f.text_field :name %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">
					<%=t :client %>
				</label>
				<div class="controls">
					<%= f.select :client_id, Client.all.collect{|x| [x.name, x.id]}, {} %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">
					<%=t :contact %>
				</label>
				<div class="controls">
					<%= f.text_field :client %>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label">
					<%=t :job_billing %>
				</label>
				<div class="controls">
					<%= f.text_field :billing %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">
					<%=t :notes %>
				</label>
				<div class="controls">
					<%= f.text_area :description, :rows => 5 %>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label">
					<%=t :job_intake %>
				</label>
				<div class="controls">
					<%= f.date_select :in_date, :start_year => Time.now.year - 1, :end_year => Time.now.year, :order => [:year, :month, :day]%>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">
					<%=t :job_target %>
				</label>
				<div class="controls">
					<%= f.date_select :target, :start_year => Time.now.year, :end_year => Time.now.year + 1, :order => [:year, :month, :day]%>
				</div>
			</div>

			
			<%= f.fields_for :items do |item_form| %>

				<legend><%=t :item_add %></legend>

				<div class="control-group">
					<label class="control-label">
						ID
					</label>
					<div class="controls">
						<%= item_form.text_field :identification %>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">
						<%=t :item_name %>
					</label>
					<div class="controls">
						<%= item_form.text_field :name %>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">
						<%=t :pieces %>
					</label>
					<div class="controls">
						<%= item_form.text_field :pieces %>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">
						<%=t :item_bp %>
					</label>
					<div class="controls">
						<%= item_form.text_field :blue_print_number %>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">
						<%=t :round_square %>
					</label>
					<div class="controls">
						<%= item_form.text_field :round_square %>
					</div>
				</div>

				<%= item_form.link_to_remove t(:item_delete) %>


			<% end %>


				<div class="row">
					<%= f.link_to_add t(:item_add), :items %>
				</div>
			

			<div class="control-group">
				<div class="controls">
					<%= f.submit t(:submit), :class => "btn" %>
				</div>
			</div>
		</div>
	<div>
</body>
<% end %>