<body>
	<div class="row">
		<div class="span6 offset1">
			<h2> <%= @job.name %></h2> 					<h4><%= @job.billing %></h4> 
			<h3><% if @job.client %>
				 <%= @job.client.name %>  
				<% end %>
			</h3>
			
			<h4><table class ="table"> 
				<tbody>
					<tr>
						<td><%=t :job_intake %></td>
						<td> <%= @job.in_date %></td>
					</tr>
					<tr>
						<td><%=t :job_target %></td>
						<td> <%= @job.target %></td>
					</tr>
					<% if @job.actual? %>
						<tr>
							<td> <%=t :job_complete %> </td>
							<td> <%= @job.actual %></td>
						</tr>

					<% else %>
						<tr>
							<td></td>
							<td><%= form_for(@job, :remote => true) do |t| %>
								<%= t.hidden_field :actual, :value => Date.today %>
								<%= t.submit "Complete Job" %></td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table></h4>
			<%= link_to t(:item_add),  new_job_item_path(@job), {:class => 'btn btn-primary'} %>
			<%= link_to t(:job_edit),  edit_job_path(@job), {:class => 'btn btn-primary'} %>
			<%= link_to t(:job_delete),job_path(@job), {:confirm => 'Are you sure?', :class => 'btn btn-danger', :method => :delete}  %>
		</div>
	</div>
	<p></p>

	<div class="row">
		<div class="span10 offset1">
			<div id="show-item">
				<%= render "show-item" %>
			</div>
		</div>
	</div>
</body>