<table class="table">
	<thread>
		<tr>
			<th>
				<%= sortable "add_remove", "Add/Remove" %>
				<% if @direction=="asc" and @column=="add_remove" %>
					<i class="icon-arrow-up"></i>
				<% elsif @direction=="desc" and @column=="add_remove" %>
					<i class="icon-arrow-down"></i>
				<% end %>
			</th>
			<th>
				<%= sortable "count", "Number"%>
				<% if @direction=="asc" and @column=="count" %>
					<i class="icon-arrow-up"></i>
				<% elsif @direction=="desc" and @column=="count" %>
					<i class="icon-arrow-down"></i>
				<% end %>
			</th>
			<th>
				<%= sortable "created_at", "Date"%>
				<% if @direction=="asc" and @column=="created_at" %>
					<i class="icon-arrow-up"></i>
				<% elsif @direction=="desc" and @column=="created_at" %>
					<i class="icon-arrow-down"></i>
				<% end %>
			</th>
			<th> Actions </th>
		</tr>
	</thead>
	<tbody>
		<% @change.each do |change| %>
		<tr>
			<td>
				<% if change.add_remove == 1 %>
					Added
				<% elsif change.add_remove == 2 %>
					Used
				<% end %>
			</td>
			<td><%= change.count %></td>
			<td><%=change.created_at%></td>
			<td>
				<%= link_to " Delete",ingredient_change_path(@ingredient, change), :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>