<body>
	<div class="row">
		<div class="span7 offset2">
			<legend>Ingredient List</legend>
		</div>
	</div>

	<div class="row">
		<div class="span7 offset2">
			<%= search_form_for @search do |f| %>
			<div class="control-group">
				<div class="control-label">
					Measure 1
				</div>
				<div class="controls">
					<%= f.text_field :measure1_cont %>
				</div>
			</div>
			<div class="control-group">
				<div class="control-label">
					Measure 2
				</div>
				<div class="controls">
					<%= f.text_field :measure2_cont %>
				</div>
			</div>
			<div class="control-group">
				<div class="control-label">
					Measure 2
				</div>
				<div class="controls">
					<%= f.text_field :measure3_cont %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "Search", :class => "btn" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>


	<div class="row">
	<div class="span7 offset2">
		<%= link_to "Add Ingredient", new_ingredient_path, {:class => 'btn btn-primary'} %>
	<p></p>
	</div>
</div>

	<div class="row">
		<div class="span7 offset2">
			<table class="table">
				<thread>
					<tr>
						<th>Dimensions</th>
						<th>Remaining</th>
						<th>Notes</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @ingredient.each do |ingredient| %>
					<tr>
						<td><%= link_to ingredient.measure1.to_s+" X "+ingredient.measure2.to_s+" X "+ingredient.measure3.to_s, ingredient %></td>
						<td><%=ingredient.total%></td>
						<td><%=ingredient.note%></td>
						<td>
							<%= form_for([ingredient, @change], :html=> {:class => 'form-inline'}) do |f| %>
								<%= f.text_field :count, :class => "input-small" %>
								<div class="input-append">
									<%= f.submit "Use", :class => "btn" %>
								</div>
							<% end %>
				</div>

						</td>							
					</tr>
					<% end %>
				</tbody>
			</table>
		<div>
	<div>
</body>
