<div class="row">
	<div class="span7 offset2">
		<h2><%= @ingredient.measure1 %> X <%= @ingredient.measure2 %> X <%= @ingredient.measure3 %></h2>
		
		<h3>Remaining: <%= @ingredient.total %></h3>
		<h5><%= @ingredient.note %></h5>
	</div>
</div>

<div class="row">
	<div class="span7 offset2">
		<%= link_to "Return to Ingredients", ingredients_path, {:class => 'btn btn-primary'} %>
		<%= link_to "Add Change", new_ingredient_change_path(@ingredient), {:class => 'btn btn-primary'} %>
		<%= link_to "Edit", edit_ingredient_path(@ingredient), {:class => 'btn btn-primary'} %>
		<%= link_to " Delete",ingredient_path(@ingredient), {:confirm => 'Are you sure?', :class => 'btn btn-danger', :method => :delete}  %><td>
	<p></p>
	</div>
</div>

<div class="row">
		<div class="span7 offset2">
			<div id="changes">
				<%= render 'changes' %>
			</div>
		</div>
	</div>

