
<%= link_to "Add operation",  new_item_operation_path(@item), {:class => 'btn btn-primary'} %>

<table class="table">
	<thead>
		<tr>
			<th> Name </th>
			<th> Worker </th>
			<th> Start </th>
			<th> End </th>
			<th> Notes </th>
			<th> Actions </th>
		</tr>
	</thead>
	<tbody>
		<% @item.operations.each do |operation| %>
		<tr>
			<td><%= operation.name %></td>
			<td><%= operation.worker %></td>
			<td><%= operation.start %></td>
			<td><% if operation.end? %>
					<%= operation.end %>
				<% else %>
					<%= form_for([@item, operation]) do |t| %>
						<%= t.hidden_field :end, :value => DateTime.now %>
						<%= t.submit "Finish" %>
					<% end %>
				<% end %>
			</td>
			<td>
				<% operation.notes? ? "None" : "Notes" %>
			</td>
			<td><%= link_to "Edit", edit_item_operation_path(@item, operation)%>
				<%= link_to " Delete",item_operation_path(@item, operation), {:confirm => 'Are you sure?', :method => :delete} %>
			</td>
		<tr>
		<% end %>
	</tbody>
</table>
